
.fixed-width {
  height: 300px;
  width: 300px;
}

#landing {
  margin: 50px;
  margin-top: 75px;
  font-size: xx-large;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.me {
    font-size: 83%;
    font-weight: 900;
}

.my-pos {
    font-size: 65%;
    font-style: normal;
}

.landing-address {
    font-size: 55%;
    font-weight: light;
}

.nav-text {
    font-size: 50%;
}

#logo {
  height: 200px;
  width: 200px;
  overflow: hidden;
  padding: 10px;
}

.media {
  margin: 10px;
}

.media-heading {
}

.small-text {
  font-size: small;
}

body {
  padding: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400; // Corresponds to the Bold 400 style
  color: gray;
}

strong,
.text-strong {
  font-weight: 700; // Corresponds to the Bold 700 style
}

.text-light {
  font-weight: 300; // Corresponds to the Light 300 style
}

.bib-entry {
  margin-top: 9px;
  margin-bottom: 9px;
}

.container {
  max-width: 1000px;
}

.map {
    align: center;
}

.news-date {
    text-align: right;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.news-info {
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

.old-news {
    display: none;
}

#toggle-news {
    color: blue;
}

.about-more {
    display: none;
}

#toggle-about {
    color: blue;
}

.student-name {
    font-weight: bold;
}

.student-thesis {
    font-style: italic;
}

.vcenter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 36px;
    color: darkgray;
    line-height: 1.5em;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
    font-weight: bolder;
  font-size: 24px;
}

.footer {
  text-align: center;
}

td.lineNumbers {
    width: 64px;
}

.blog-header {
    margin-top: 25px;
}

.blog-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
}

.blog-subtitle {
    margin-top: -10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
}

.blog-author {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    font-color: DimGrey;
}

.blog-date {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    font-style: italic;
    font-color: DimGrey;
}

#blog-body {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: Linen;
}

.blog-list {
    margin-top: 50px;
}

.blog-list-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.blog-list-date {
    font-size: large;
}

.blog-list-title {
    font-size: large;
}

.news-highlight {
  color: red;
}
