.project-title {
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.project-subtitle {
    font-size: 24px;
    color: #594847;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 25px;
}

.project-member {
    font-size: 18px;
    color: #808080;
    margin-left: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-member-link {
    font-size: 16px;
}

.members-row {
    margin-bottom: 30px;
}

.labs-row {
}

.project-lab {
    margin-left: 40px;
    color: #808080;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-institute {
    padding-top: 10px;
    margin-left: 40px;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 25px;
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-weight: bolder;
  font-size: 16px;
}

.center-video {
  display: block;
  margin: 0 auto;      /* horizontally center */
  max-width: 100%;     /* responsive */
}
