vti_encoding:SR|utf8-nl
http\://www3.sympatico.ca/tango/classes.html:classes.html
http\://www.utoronto.ca:default.html classes.html contact.html schedule.html exec.html scheduleold.html
http\://www3.sympatico.ca/tango/xtina.html:classes.html
mailto\:tangout@hotmail.com:contact.html
http\://www.campuslife.utoronto.ca:default.html
http\://www.mapquest.com:schedule.html scheduleold.html
constitution.html:classes.html default.html schedule.html contact.html exec.html
